[mysqld]
character-set-server=UTF8MB4
bind-address=0.0.0.0
ssl-ca=ca.pem
ssl-cert=server-cert.pem
ssl-key=server-key.pem
require_secure_transport=ON

[mysql]
default-character-set=UTF8MB4
bind-address=0.0.0.0

[client]
default-character-set=UTF8MB4
bind-address=0.0.0.0